<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
    
<body>
    <form method="post" action="/login">
        <div class="form-group row">
            <label for="user_id" class="col-2 offset-1 col-form-label">user_id:</label>
            <div class="col-3">
            <input type="text" class="form-control" id="user_id" name="user_id" placeholder="user_id">
            <small class="form-text">提示： Me</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-2 offset-1 col-form-label">password:</label>
            <div class="col-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
            <small class="form-text">提示： myself</small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 offset-3">
            <button type="submit" class="btn btn-dirty-purple">登入</button>
            </div>
        </div>
    </form>
</body>

 </html>